<h1><%= t "static_pages.helppage.help" %></h1>
<p>
  <%= t "static_pages.helppage.getHelp" %>
  <%= link_to t("static_pages.helppage.tutorialHelp"), Settings.client.railstutorial %>.
  <%= t "static_pages.helppage.helpApp" %>
  <% link_to Settings.client.railsBook do %>
    <%= t "static_pages.helppage.tutorial" %>
  <% end %>
  <%= t "static_pages.helppage.book" %>
</p>
