<footer class="footer">
  <small>
    <%= t "static_pages._footer.the" %> <%= link_to t("layouts._footer.tutorial"), Settings.client.railstutorial %>
    <%= link_to t("michael"), Settings.client.michael %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts._footer.about"), about_path %></li>
      <li><%= link_to t("layouts._footer.contact"), contact_path %></li>
      <li><%= link_to t("layouts._footer._new"), Settings.client.newTutorial %></li>
    </ul>
  </nav>
</footer>
